<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:iis="http://schemas.microsoft.com/wix/IIsExtension">
  <Fragment>
    
    <ComponentGroup Id="webSite">
      <ComponentRef Id="webSite" />
    </ComponentGroup>

    <PropertyRef Id="NETFRAMEWORK45" />
    <PropertyRef Id="IISMAJORVERSION" />
    <Property Id="ASPNETINSTALLED">
      <RegistrySearch Id="findASPNETINSTALLED" Root="HKLM" Key="SOFTWARE\Microsoft\InetStp\Components" Name="ASPNET" Type="raw" />
    </Property>
    <Condition Message="[ProductName] requires Microsoft .NET Framework 4.5.">Installed OR NETFRAMEWORK45</Condition>
    <Condition Message="[ProductName] requires Microsoft IIS">Installed OR IISMAJORVERSION</Condition>
    <Condition Message="[ProductName] requires the ASP.NET role service for IIS">Installed OR ASPNETINSTALLED="#1"</Condition>
    
    <DirectoryRef Id="INSTALLLOCATION">
      <Directory Id="webSite" Name="WebSite">
        <Component Id="webSite" Guid="b118a1b9-8c4e-44b3-bf42-1501163c8bee" KeyPath="yes">
          <iis:WebAppPool Id="webSite" Name="UVtools.Installer" Identity="applicationPoolIdentity" ManagedRuntimeVersion="v4.0" ManagedPipelineMode="Integrated"/>
          <iis:WebSite Id="webSite" SiteId="*" Description="UVtools.Installer Web Site" Directory="webSite" ConfigureIfExists="no">
            <iis:WebAddress Id="webSite" Port="8080" />
            <iis:WebDirProperties Id="webSite" AnonymousAccess="yes" WindowsAuthentication="no" />
            <iis:WebApplication Id="webSite" WebAppPool="webSite" Name="webSite" />
          </iis:WebSite>
        </Component>
      </Directory>
    </DirectoryRef>
    
  </Fragment>
</Wix>