<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <!-- 
  MSIProductVersion is defined in UVtools.Installer.wixproj as 0.0.1 for local desktop builds.  
  You should pass in the MSBuild Property 'MSIProductVersion' to override it during an automated build.
  See http://msdn.microsoft.com/en-us/library/windows/desktop/aa370859%28v=vs.85%29.aspx for information on allowable values.
  
  The Product@Id attribute (ProductCode Property) will be a random GUID for each build.  This is to support "Major Upgrades" where each install 
  is a seamless uninstall/reinstall.
  Version="$(var.MSIProductVersion)"
  -->
  <Product Id="*" Name="UVtools" Language="1033" Version="$(var.MSIProductVersion)" Manufacturer="PTRTECH" UpgradeCode="1ea6d212-15c0-425e-b2ec-4b6c60817552">
    <Package InstallerVersion="301" Compressed="yes" InstallScope="perMachine" />
    <MediaTemplate EmbedCab="yes" />
    <!-- Major Upgrade Rule to disallow downgrades -->
    <!-- AllowSameVersionUpgrades="yes" -->
    <MajorUpgrade
      AllowDowngrades="no"
      IgnoreRemoveFailure="no"
      DowngradeErrorMessage="A newer version of [ProductName] is already installed."
      Schedule="afterInstallInitialize" />
    <!--Common Launch Condition-->
    <!-- Examples at http://wixtoolset.org/documentation/manual/v3/customactions/wixnetfxextension.html -->
    <!--
    <PropertyRef Id="NETFRAMEWORK45" />
    <Condition Message="[ProductName] requires .NET Framework 4.8.">Installed OR NETFRAMEWORK45</Condition>
    -->
    <!-- Include User Interface Experience -->
    <Icon Id="Icon.ico" SourceFile="..\UVtools.CAD\UVtools.ico" />
    <Property Id="ARPPRODUCTICON" Value="Icon.ico"></Property>
    <UIRef Id="UI" />
    <!-- Include Features and Directories Fragment -->
    <DirectoryRef Id="INSTALLLOCATION">
      <Component Id="RegistryEntries" Guid="C3603223-A8C1-4393-8C06-36B48DED2652">
        <RegistryKey
          Root="HKCU"
          Key="Software\UVtools"
          ForceCreateOnInstall="yes"
          ForceDeleteOnUninstall="yes" />
        <RegistryValue
          Root="HKCU"
          Key="Software\UVtools"
          Name="InstallDir"
          Type="string"
          Value="[INSTALLLOCATION]" />
      </Component>
    </DirectoryRef>
  </Product>
</Wix>