<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    
    <!-- Reference Custom Components Below -->
    <ComponentGroup Id="Custom">
      
    </ComponentGroup>

    <!-- Author Custom Components Below -->
    <DirectoryRef Id="MergeRedirectFolder">
      
    </DirectoryRef>

  </Fragment>
</Wix>