<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="UVtools.GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <UVtools.GUI.Properties.Settings>
      <setting name="PreviousNextLayerColor" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="IslandColor" serializeAs="String">
        <value>Yellow</value>
      </setting>
      <setting name="ResinTrapColor" serializeAs="String">
        <value>Orange</value>
      </setting>
      <setting name="TouchingBoundsColor" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="PreviousLayerColor" serializeAs="String">
        <value>Magenta</value>
      </setting>
      <setting name="NextLayerColor" serializeAs="String">
        <value>Cyan</value>
      </setting>
      <setting name="UpdateSettings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StartMaximized" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CheckForUpdatesOnStartup" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LayerAutoRotateBestView" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LayerDifferenceDefault" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ComputeIssuesOnLoad" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LayerZoomToFit" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ComputeIslands" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ComputeResinTraps" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IslandRequiredAreaToProcessCheck" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="IslandRequiredPixelBrightnessToProcessCheck" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="IslandRequiredPixelsToSupport" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="IslandRequiredPixelBrightnessToSupport" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="ResinTrapRequiredAreaToProcessCheck" serializeAs="String">
        <value>17</value>
      </setting>
      <setting name="ResinTrapRequiredBlackPixelsToDrain" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="ResinTrapMaximumPixelBrightnessToDrain" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="AutoComputeIssuesClickOnTab" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OutlinePrintVolumeBoundsColor" serializeAs="String">
        <value>Lime</value>
      </setting>
      <setting name="OutlinePrintVolumeBoundsLineThickness" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="OutlineLayerBoundsColor" serializeAs="String">
        <value>Lime</value>
      </setting>
      <setting name="OutlineLayerBoundsLineThickness" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="OutlineHollowAreasColor" serializeAs="String">
        <value>Orange</value>
      </setting>
      <setting name="OutlineHollowAreasLineThickness" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="OutlinePrintVolumeBounds" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OutlineLayerBounds" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OutlineHollowAreas" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ZoomToFitPrintVolumeBounds" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ResinTrapBinaryThreshold" serializeAs="String">
        <value>127</value>
      </setting>
      <setting name="IslandBinaryThreshold" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DefaultOpenFileExtension" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PixelEditorAddPixelColor" serializeAs="String">
        <value>Green</value>
      </setting>
      <setting name="PixelEditorRemovePixelColor" serializeAs="String">
        <value>DarkRed</value>
      </setting>
      <setting name="PixelEditorSupportColor" serializeAs="String">
        <value>Cyan</value>
      </setting>
      <setting name="PixelEditorDrainHoleColor" serializeAs="String">
        <value>Purple</value>
      </setting>
      <setting name="FileSaveNamePreffix" serializeAs="String">
        <value />
      </setting>
      <setting name="FileSaveNameSuffix" serializeAs="String">
        <value>_copy</value>
      </setting>
      <setting name="FileSavePromptOverwrite" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FileOpenDefaultDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="FileSaveDefaultDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="FileConvertDefaultDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="FileExtractDefaultDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="AutoZoomIssues" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LayerRepairDefaultClosingIterations" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="LayerRepairDefaultOpeningIterations" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LayerRepairLayersIslands" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LayerRepairResinTraps" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LayerRepairRemoveEmptyLayers" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LayerRepairRemoveIslandsBelowEqualPixelsDefault"
        serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="PartialUpdateIslandsOnEditing" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IslandAllowDiagonalBonds" serializeAs="String">
        <value>False</value>
      </setting>
    </UVtools.GUI.Properties.Settings>
  </userSettings>
</configuration>
